html, body {
    height: 100%;
    width: 100%;
  }

  body
{
    font-family: 'Lato', sans-serif;
    background: -webkit-linear-gradient(317deg, #952f87,#b5953d,#59e293) no-repeat;
    background: linear-gradient(317deg, #952f87,#b5953d,#59e293) fixed; 
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
}
